---
import EndLabel from './EndLabel.astro';
import { parseDate } from '../dates.ts';

const { events } = Astro.props;

const firstEventDate = parseDate(events[0].date);
const lastEventDate = parseDate(events[events.length - 1].date);
---

<style>
  .timeline {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
  }

  .timeline-wrapper {
    --padding: 4em;
    --line-width: 2px;
    --event-width: 500px;
    --event-timeline-offset: calc((var(--padding)) + 2px);
    --event-timeline-center: calc(var(--event-width) + (var(--event-timeline-offset)) + var(--line-width));

    position: relative;
    margin: 0 var(--padding);
  }

  .timeline-events {
    display: inline-flex;
    flex-direction: column;

    padding: 0;
    <!-- padding-right: var(--padding); -->

    border-right: var(--line-width) solid black;
  }

  .timeline-line {
    position: absolute;
    width: var(--line-width);
    height: 100%;
    background: black;
    left: calc(var(--event-timeline-center));
  }

  .event {
    position: relative;

    list-style: none;

    width: var(--event-width);

    border: 2px solid black;
    border-radius: 8px;

    &::after {
      --width: 3em;
      --height: 2px;
    
      display: block;
      content: '';

      position: absolute;
      right: calc(var(--event-timeline-offset) * -1);
      /*top: calc(50% - (var(--height) / 2));*/
      top: calc(1.485em - (var(--height) / 2));

      height: var(--height);
      width: var(--width);

      background: black;
    }

    &:nth-child(even) {
      margin-left: calc((var(--event-timeline-center)) + (var(--event-timeline-offset)));

      &::after {
        left: calc(var(--event-timeline-offset) * -1);
      }
    }
  }

  .event-wrapper {
    margin: 16px;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }

  .sources {
    font-size: 0.9em;
    padding-left: 1.25em;
  }
</style>

<div class="timeline">
  <EndLabel date={firstEventDate} />
  <div class="timeline-wrapper">
    <div class="timeline-line"></div>
    <ol class="timeline-events">{events.map((event) => <li class="event">
      <div class="event-wrapper">
      	<h2 id={event.id}>{event.title}</h2>
      	<div>{event.date}</div>
      	<p>{event.description}</p>
        <h3>Sources</h3>
        <ul class="sources">{event.sources.map((source) =>
          <li><a href={source.url}>{source.title}</a>, <span class="source-site">{source.site}</span></li>)
        }</ul>
        {
          // This part only shows up if there are "furtherReading" availible
          // Any "furtherReading" object is structurally identical to a "source"
          event.furtherReading && event.furtherReading.length !== 0 && (
            <>
              <h3>Further Reading</h3>
              <ul class="sources">{event.furtherReading.map((furtherRead) =>
                <li><a href={furtherRead.url}>{furtherRead.title}</a>, <span class="source-site">{furtherRead.site}</span></li>)
              }</ul>
            </>
          )
        }
      </div>
    </li>)}<ol>
  </div>
  <EndLabel date={lastEventDate} />
</div>
